// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
	display: grid;
	gap: 15px;
}
// Спойлер
.spollers__item {
	font-size: rem(20);
	padding: rem(10) 0;
	border-bottom: 1px solid #eee;
}
// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	padding: rem(10) rem(15);
	position: relative;
	color: #4FFFCA;
	font-weight: 700;
	font-size: rem(26);
	line-height: math.div(16, 26);

	@media (max-width:$mobile){
		font-size: rem(18);
		line-height: math.div(24, 18);
	}
	._spoller-init & {
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #4FFFCA;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;

			@media (max-width:$mobile){
				display: none;
			}
		}
		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}
		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}
		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
	}
}
// Контент спойлера
.spollers__body {
	padding: rem(20);
	font-size: rem(26);
	color: #EBE7E5;
	text-align: left;

	@media (max-width:$mobile){
		font-size: rem(18);
		line-height: math.div(22, 18);
	}
}
