//====================================================================================================

.header {
	position: absolute;
	background-color: transparent;
	width: 100%;
	z-index: 30;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include adaptiveValue("padding-left", 415, 12);
			@include adaptiveValue("padding-right", 363, 0);
			@include adaptiveValue("padding-top", 44, 56);
			@include adaptiveValue("padding-bottom", 44, 56);

			@media (max-width:$tablet){
				align-items: start;
			}
		}

		&__logo {
			&::before{
				@include adaptiveValue("font-size", 38, 34);
			}
		}

		&__content {
			display: flex;
			align-items: center;
			gap: rem(39);

			@media (max-width:$tablet){
				gap: 0;
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		&__reg {
			display: flex;
			cursor: pointer;
		}

		&__icon {
			display: none;

			@media (max-width:$tablet){
				display: block;
				cursor: pointer;
			}
		}

		&__item {
			padding: 0 rem(10);
			&:not(:last-child) {border-right: 1px solid #fff;}

			@media (max-width:$tablet){
				display: none;
			}
		}

		&__lang {
			display: inline-flex;
			flex-direction: row-reverse;
			align-items: center;
			font-size: rem(14);
			line-height: math.div(17, 14);
			text-transform: uppercase;

			@media (max-width:$tablet){
				width: 100%;
			}
		}

		&__form {
			display: block;
			background-color: transparent;
			color: #fff;
		}
}


//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
