.main {
	background: url("@img/main.png") top / cover no-repeat;
}
.main-header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	@include adaptiveValue("padding-top", 267, 89);
	@include adaptiveValue("padding-bottom", 132, 44);

		&__container {
		}

		&__title {
			&:not(:last-child) {
			margin-bottom: em(11, 48);
		}
		font-weight: 700;
		@include adaptiveValue("font-size", 48, 20);
		line-height: math.div(26, 48);
		text-transform: uppercase;
		letter-spacing: rem(4.8);
		}

		&__text {
		@include adaptiveValue("font-size", 22, 15);
		line-height: math.div(26, 22);
		letter-spacing: rem(6.82);
		&:not(:last-child) {
			margin-bottom: em(48, 22);
		}
		}

		&__search {
			&:not(:last-child) {
			margin-bottom: em(108, 14);
		}
		}

		&__scroll {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		}

		&__button {
			display: flex;
			justify-content: center;
		&::before {
			position: absolute;
			bottom: 0;
			font-size: rem(10);
			line-height: math.div(26, 10);

			animation: arrow-down 500ms linear infinite;
		}

		@keyframes arrow-down {
			from{
				top: 15px;
			}
			to{
				top: 20px;
			}
		}

		span {
			font-size: rem(14);
			line-height: math.div(26, 14);
			letter-spacing: rem(2.8);
			@include adaptiveValue("padding-bottom", 20, 12);
		}
		}
}
.search-main-header {
	position: relative;
	display: flex;
	margin-left: rem(20);

		&__input {
			width: 100%;
		height: rem(63);
		padding: 0 rem(394) 0 rem(113);
		outline: none;
		@media (max-width: $mobile) {
			padding: 0 rem(2) 0 rem(8);
			height: rem(40);
		}
		&:focus {
			box-shadow: 1px 1px 8px 7px rgba(0, 0, 0, 0.3);
		}
		&::placeholder {
			overflow: visible;
			color: #999999;
			@include adaptiveValue("font-size", 14, 10);
			line-height: math.div(26, 14);
			letter-spacing: rem(2.8);
		}
		}

		&__button {
			display: flex;
		gap: rem(15);
		height: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: row-reverse;
		position: absolute;
		top: 0;
		right: 0;
		background-color: #5474fd;
		border: 2px solid #ffffff;
		border-left: none;
		padding: 0 rem(18) 0 rem(35);
		@media (max-width: $mobile) {
			padding: 0 rem(6) 0 rem(8);
			background-color: transparent;
			color: #999999;
		}

		&::before {
			@include adaptiveValue("font-size", 21, 17);
		}

		span {
			font-family: Aleo;
			text-transform: uppercase;
			font-size: rem(14);
			line-height: math.div(26, 14);
			letter-spacing: rem(1.4);

			@media (max-width: $mobile) {
				display: none;
			}
		}
		}
}


//====================================================================================================

.whoweare {
	background: url("@img/whoweare/bg.png") center / cover no-repeat;
	@include adaptiveValue("padding-top", 118, 20);
	@include adaptiveValue("padding-bottom", 117, 20);

	@media (max-width:$tablet){
		@include adaptiveValue("padding-top", 50, 20);
	}

	&__container {
	}

	&__body {
		display: grid;
		grid-template-columns: 1fr percent(557, 1109);

		@media (max-width: $tablet) {
			display: flex;
			flex-wrap: wrap;
			row-gap: rem(15);
		}
	}

	&__content {
		@include adaptiveValue("padding-top", 93, 0);

		@media (max-width: $tablet) {
			width: 100%;
			text-align: center;
		}
	}

	&__title {
		&:not(:last-child) {
			margin-bottom: em(50, 36);
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: em(45, 16);
		}

		p {
			&:not(:last-child) {
				margin-bottom: em(28, 16);
			}
		}
	}

	&__button {
		background-color: $secondColor;
	}
}
.images-whoweare {
	position: relative;

	@media (max-width: $tablet) {
		width: 100%;
		position: static;
		display: flex;
		flex-wrap: wrap;
	}

	@media (max-width: $mobileSmall) {
		row-gap: rem(15);
	}

	&__top {
		position: absolute;
		top: 0;
		right: percent(75, 557);
		&:not(:last-child) {
			margin-bottom: em(10, 16);
		}

		@media (max-width: $tablet) {
			position: static;
			display: flex;
			width: 50%;
			padding: 0;
			&:not(:last-child) {
				margin-bottom: em(0, 16);
			}
		}

		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}

	&__bottom {
		position: absolute;
		bottom: percent(-15, 435);
		right: 0;
		transform: translate(percent(30, 350), 0);

		@media (max-width: $tablet) {
			position: static;
			display: flex;
			width: 50%;
			padding: 0;
			transform: translate(0px, 0px);
		}

		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
}

//====================================================================================================

.wedo {
	position: relative;
	background-color: #333333;
	@include adaptiveValue("padding-top", 44, 15);
	@include adaptiveValue("padding-bottom", 116, 15);

	&__body {
		display: flex;
		justify-content: space-around;
		position: relative;
		background: url('@img/whatwedo/Shape 1.png') top no-repeat;

		@media (max-width:$pcs){
			background: url('@img/whatwedo/Shape 3.png') top no-repeat;
		}

		@media (max-width:$tablet){
			background: url('@img/whatwedo/Shape 4.png') top no-repeat;
		}

		@media (max-width:$pcss){
			background: url('@img/whatwedo/Shape 5.png') top no-repeat;
		}

		@media (max-width:$mobile){
			background: none;
		}

		@media (max-width:$mobileSmall){
			position: static;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		@include adaptiveValue("padding-top", 57, 15);
		text-align: center;
		align-items: center;

		@media (max-width:$mobileSmall){
			display: flex;
			flex-wrap: wrap;
			width: 100%; 
		}
	}

	&__image {
		flex: 1 1 auto;
		background-color: #333;@include adaptiveValue("margin-bottom", 38, 17);
	}

	&__title {
		color: #e8e8e8;
		@include adaptiveValue("font-size", 36, 16);

		@media (max-width:$mobileSmall){
			width: 100%;
		}
	}
}

//=========================================================================================================================

.travel {
	display: flex;
	flex-direction: column;

		&__item {
			background: url('@img/travelwithus/1.png') center no-repeat;

			&_2 {
				background: url('@img/travelwithus/2.png') center no-repeat;
			}
		}

		&__body {
			@include adaptiveValue("padding-top", 225, 55);
			@include adaptiveValue("padding-bottom", 99, 55);

			&_2 {
				display: flex;
				justify-content: end;
			}
		}

		&__card {
			
		}
}
.card {
	flex-direction: column;
	max-width: rem(543);
	background: #232323;
	opacity: 0.9;
	@include adaptiveValue("padding-top", 49, 15);
	@include adaptiveValue("padding-bottom", 50, 15);
	@include adaptiveValue("padding-left", 30, 15);
	@include adaptiveValue("padding-right", 30, 15);

		&__country {
			letter-spacing: 1.5px;
			font-size: rem(20);
			line-height: math.div(26, 20);
			color: #E8E8E8;
			&:not(:last-child) {margin-bottom: em(23, 20);}
		}

		&__title {
			font-size: rem(20);
			line-height: math.div(26, 20);
			text-transform: uppercase;
			&:not(:last-child) {margin-bottom: em(13, 20);}
		}

		&__text {
			letter-spacing: normal;
			&:not(:last-child) {margin-bottom: em(46, 16);}
		}

		&__button {
			background-color: $secondColor;
		}
}

//=========================================================================================================================

.reviews {
	text-align: center;
	@include adaptiveValue("padding-top", 127, 25);
	@include adaptiveValue("padding-bottom", 191, 25);
	background: url('@img/reviews/bg.png') center no-repeat;

		&__container {
		}

		&__body {
		}

		&__title {
			&:not(:last-child) {margin-bottom: rem(91);}
		}

		&__slider {
			
		}

		&__wrapper {
		}

		&__slide {
		}
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.slide-reviews {

		&__content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			

			@media (min-width:$mobile){
				display: grid;
				grid-template-columns: percent(445, 1109) 1fr;
			}
		}

		&__image {
			img {
				object-fit: cover;
				object-position: center;
			}
		}

		&__comment {
			flex: 1 1 auto;
			@include adaptiveValue("padding-top", 47, 15);
			@include adaptiveValue("padding-bottom", 39, 15);
			@include adaptiveValue("padding-left", 62, 5);
			@include adaptiveValue("padding-right", 30, 5);
			height: 100%;
			text-align: left;
			background-color: #333;

			@media (max-width:$mobile){
				display: flex;
				flex-wrap: wrap;
				max-width: 445px;
			}
		}

		&__title {
			font-size: rem(20);
			line-height: math.div(26, 20);
			text-transform: uppercase;
			color: #FEFEFE;
			&:not(:last-child) {margin-bottom: rem(8);}
		}

		&__text {
			letter-spacing: normal;
			&::before{
				content:'\f10d';
				font-family: 'FontAwesome';
				color: #5474FD;
				font-size: rem(34);
				line-height: math.div(26, 34);
				padding-right: 7px;
			}
		}
}